@charset "utf-8";
.login-header{
	width:990px;
	padding:10px 0;
	margin: auto;
	overflow: hidden;
	vertical-align: middle;
}

.login-header a{
	border-right: 1px solid gray;
	padding:5px 20px 5px 0;
	display: block;
	float:left;
}
.login-header p{
	font-size: 30px;
	float: left;
	padding-left:40px;
	margin:0 auto;
}

.bodd{
	display: block;	
}
.podd{
	display: block;	
}
.login-bgimg{
	z-index: 1;
	position:relative;
	left:0;
	right:0; 
	width:1349px;
	height:550px;
	margin: auto;
	background:url("../img/ba839750211e4c6485fe16dea496b709.jpg")no-repeat 0 0; 
}


.login-box{
	background-color: white;
	position:absolute;
	width:380px;
	left:60%;
	top:12%;
	
	padding-top:20px;
}

.login-title{
	overflow: hidden;
	text-align: center;
	padding: 0;
}
.login-title li{
	list-style: none;
	display: inline-block;
	background:#f3f3f3;

}

/*.login-title li:last-child{
	background:#f3f3f3;
}
.login-title li:last-child a{
	color:black;
}*/
.login-title li a{
	display: inline-block;
	width:150px;
	padding:10px;
	color:black;
	text-decoration: none;
}
.phonenumber{
	background:#f3f3f3;
	color:black;
}


#loginform,#phoneform{
	width:302px;
	margin:30px auto 50px;
}

#phoneform .word{
	/*width:238px;*/
	margin:0;
}

#phoneform .mobilems input{
	width:168px;
	float: right;
}
.moNub{
	width:100%;
}
#phoneform ul{
	width:300px;
	padding:0;
	overflow: hidden;
} 

#phoneform ul li{
	/*display: inline-block;*/
	list-style: none;
	float: right;
	
}

#phoneform ul .mobilems{
	float: left;
}
#phoneform .Ptwo span{
	display: inline-block;
	height:38px;
	line-height: 36px;
	background-color: #000000;
	color:white;
	margin-left: 2px;
}


.login-box .Pass{
	/*width:300px;*/
	height:36px;
	margin:30px auto;
	border: 1px solid #000;
}

.Pass .icon{
	display: inline-block;
	background: url(../img/icon_sig_reg.png) no-repeat;
	width:48px;
	height:36px;
}

.Pass p{
	line-height: 36px;
	padding-left:8px;
	margin:auto;
}
.Pass .icon-top{
	background-position:-165px -30px;
	float: left;
}
.Pass .icon-bot{
	background-position:-165px -60px;
	float: left;
	
}

.login-box .Pass input{
	width:235px;
	height:36px;
	margin: auto;
	float:right;
	font-size: 16px;
	/*border: 1px solid red;*/
	border-left: none;
	border:0;
}

.fogetmm{
	text-align: right;
	margin:40px auto 0;
}

.submit{
	text-align: center;
	margin:0 auto; 
}
.submit input{
	width:300px;
	height:40px;
	margin: auto;
	background: black;
	color:white;
}

.useothers,.partener{
	margin-top: 10px;
	text-align: center;
}



.partener a{
	display: inline-block;
	width:36px;
	height:33px;
	background: url(../img/icon_sig_reg.png) no-repeat;
	vertical-align: middle;
}

.partener .wx{
	background-position:-35px -21px;	
}

.partener .zfb{
	background-position:-72px -21px;	
}
.partener .qq{
	background-position:-108px -22px;	
}
.partener .wb{
	background-position:-35px -57px;	
}
.partener .rr{
	background-position:-72px -57px;	
}